.detailsContainer{
    background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(39,39,64,1) 56%, rgba(90,91,92,1) 100%); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
}
.movieImage{
    border-radius: 25px;
    box-shadow: 0px 5px 10px 5px #0ff;
    object-fit: cover;
}
.movieDetails{
    font-size: 1.5rem;
}
.title{
    margin-top: 0;
}